<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_part.argon</key>
	<string>_part.argon.glif</string>
	<key>_part.diargon</key>
	<string>_part.diargon.glif</string>
	<key>_part.digorgon</key>
	<string>_part.digorgon.glif</string>
	<key>_part.dot</key>
	<string>_part.dot.glif</string>
	<key>_part.dot_gorgon</key>
	<string>_part.dot_gorgon.glif</string>
	<key>_part.gorgon</key>
	<string>_part.gorgon.glif</string>
	<key>_part.gorgon_dot</key>
	<string>_part.gorgon_dot.glif</string>
	<key>_part.hemeolion</key>
	<string>_part.hemeolion.glif</string>
	<key>_part.trigorgon</key>
	<string>_part.trigorgon.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>apos</key>
	<string>apos.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>elaf.alt</key>
	<string>elaf.alt.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyfe</key>
	<string>hyfe.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ken2</key>
	<string>ken2.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>olig_elafUL_ken2UR</key>
	<string>olig_elafU_L__ken2U_R_.glif</string>
	<key>olig_ken2U</key>
	<string>olig_ken2U_.glif</string>
	<key>oligon</key>
	<string>oligon.glif</string>
	<key>oligon_long</key>
	<string>oligon_long.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni03A9</key>
	<string>uni03A_9.glif</string>
	<key>uni03BC</key>
	<string>uni03B_C_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
