<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>panose</string>
			<key>value</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>5</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>69813737-2D9D-4AAF-8AB2-6A1A16645911</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>W</string>
		<string>Y</string>
		<string>B</string>
		<string>C</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>V</string>
		<string>X</string>
		<string>Z</string>
		<string>a</string>
		<string>aring</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>oe</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>w</string>
		<string>y</string>
		<string>b</string>
		<string>c</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>v</string>
		<string>x</string>
		<string>z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>numbersign</string>
		<string>backslash</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>underscore</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>dollar</string>
		<string>florin</string>
		<string>yen</string>
		<string>plus</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>asciicircum</string>
		<string>uni2206</string>
		<string>summation</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>at</string>
		<string>ampersand</string>
		<string>copyright</string>
		<string>registered</string>
		<string>dagger</string>
		<string>bar</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>ring</string>
		<string>_part.chromatic_soft</string>
		<string>_part.circle</string>
		<string>_part.diatonic_ga</string>
		<string>_part.diatonic_ga.001</string>
		<string>_part.diatonic_ke</string>
		<string>_part.diatonic_pa</string>
		<string>_part.double_flat</string>
		<string>_part.flat</string>
		<string>_part.fthora_chromatic_2</string>
		<string>_part.fthora_chromatic_soft_2</string>
		<string>_part.fthora_something</string>
		<string>_part.line_small</string>
		<string>_part.permanent_flat</string>
		<string>_part.spathi</string>
		<string>_part.triple_flat</string>
		<string>jumpfour</string>
		<string>jumptwo</string>
		<string>ano</string>
		<string>petaste</string>
		<string>yporroi</string>
		<string>synech</string>
		<string>apostrophos</string>
		<string>martyria</string>
		<string>ano2</string>
		<string>doubleapostrophos</string>
		<string>stacked</string>
		<string>test</string>
		<string>oligon</string>
		<string>antikenoma</string>
		<string>hypsele</string>
	</array>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>V</string>
		<string>X</string>
		<string>Z</string>
		<string>b</string>
		<string>c</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>v</string>
		<string>x</string>
		<string>z</string>
		<string>backslash</string>
		<string>space</string>
		<string>bar</string>
		<string>_part.chromatic_soft</string>
		<string>_part.circle</string>
		<string>_part.diatonic_ga</string>
		<string>_part.diatonic_ga.001</string>
		<string>_part.diatonic_ke</string>
		<string>_part.diatonic_pa</string>
		<string>_part.double_flat</string>
		<string>_part.flat</string>
		<string>_part.fthora_chromatic_2</string>
		<string>_part.fthora_chromatic_soft_2</string>
		<string>_part.fthora_something</string>
		<string>_part.line_small</string>
		<string>_part.permanent_flat</string>
		<string>_part.spathi</string>
		<string>_part.triple_flat</string>
		<string>jumpfour</string>
		<string>jumptwo</string>
		<string>ano</string>
		<string>petaste</string>
		<string>yporroi</string>
		<string>synech</string>
		<string>apostrophos</string>
		<string>martyria</string>
		<string>ano2</string>
		<string>doubleapostrophos</string>
		<string>stacked</string>
		<string>test</string>
		<string>oligon</string>
		<string>antikenoma</string>
		<string>hypsele</string>
	</array>
</dict>
</plist>
